.btn {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0;
    background-color: #f5dc4d;
    color: #FFF;
    border: 2px solid #f5dc4d;
}

.btn:hover {
    background-color: #ec7b2c;
    border: 2px solid #ec7b2c;
    cursor: pointer;
}