.btn-sidebar {
    display: block;
}

#sidebar {
    position: relative;
}

.to-sidebar {
    width: 40px;
    position: absolute;
    right: -40px;
    z-index: 99;
    top: 0;
    height: 100vh;
}

.to-sidebar .btn-sidebar {
    right: 0px;
    top: calc(43% - 40px);
}

.to-sidebar:hover > .btn-sidebar {
    display: block !important;
}

.page-wrapper .page-content {
    background-color: #1f2331;
}

.row-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1px;
}

.row-brands .gallery-item,
.row-designers .gallery-item,
.row-gallery .gallery-item {
    margin: 1px;
}

.gallery-item, .brand-item, .designer-item {
    width: calc(25% - 2px);
    height: calc((100vh - 132px) / 3);
}

.row-brands, .row-designers, .row-gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    width: calc(33.3% - 2px);
}

.gallery-item__block_img img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1665px) {
    .gallery-item, .brand-item, .designer-item {
        width: calc(25% - 2px);
        height: calc((100vh - 110px) / 3);
    }
}

@media (max-width: 1655px) {
    .gallery-item, .brand-item, .designer-item {
        width: calc(25% - 2px);
        height: calc((100vh - 93px) / 3);
    }
}

@media screen and (max-width: 1080px) {
    .designer-item, .brand-item, .gallery-item {
        width: calc(50% - 2px);
    }
}

@media screen and (max-width: 769px) {
    .designer-item, .brand-item, .gallery-item {
        width: calc(100% - 2px);
    }
}

.gallery-item__block_img img {
    width: 100%;
    height: 100%;
}

.brand-item, .designer-item, .gallery-item {
    flex: auto !important;
}

.my-photos .gallery-item {
    width: calc(25% - 2px);
    height: calc((100vh - 214px) / 2);
}

.btn-bookmark svg {
    width: 16px;
    height: 20px;
}

.news .btn-bookmark-add:hover .btn svg use {
    fill: #ba9f6c;
}

.news .page-wrapper {
    background-color: #3b3f52;
}

.news-content {
    text-align: center;
    max-width: 980px;
}

.news-content p {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 30px;
}

.news-content a {
    color: #ba9f6c;
    font-weight: 300;
    font-size: 20px;
}

.news-content img {
    margin-bottom: 8px;
}

.news-heading {
    margin-bottom: 25px;
}

.news-heading h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
}

.news .btn-bookmark-add {
    position: absolute;
    top: 30px;
    left: 30px;
    width: auto;
    height: auto;
    color: #898d9e;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: .25s all;
    -o-transition: .25s all;
    transition: .25s all;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding-right: 12px;
}

.news .btn-bookmark-add .btn {
    margin-right: 12px;
}

.news .btn-bookmark-add .d-blue {
    background-color: #2e3142;
}

.news .btn-bookmark-add:hover {
    color: #ba9f6c;
    background-color: #2e3142;
}

.posts .btn.btn-v,
.posts-new .btn.btn-v {
    max-width: unset;
}

.posts .btn.btn-v .svg,
.posts-new .btn.btn-v .svg {
    left: 1px;
}

.posts .gallery-col,
.posts-new .gallery-col {
    background-color: #3b3f52;
}

.posts .block-simple-item,
.posts-new .block-simple-item {
    height: 70px;
    padding: 0 19px;
}

.posts .selectable-item,
.posts-new .selectable-item {
    padding-bottom: 0;
}

.posts .selectable-label,
.posts-new .selectable-label {
    margin-bottom: 5px;
}

.posts-new .gallery-col {
    padding: 20px;
    overflow-y: auto;
}

.posts-new .gallery-col > [class*=col] {
    padding: 0;
}

div.mce-edit-area {
    filter: none;
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    background-color: #1f2331 !important;
    padding: 20px;
    height: 100%;
    min-height: 300px;
    font-size: 15px;
    max-height: 2000px;
    overflow-y: auto;
}

#mce_0_ifr {
    height: 480px !important;
    background-color: #1f2331 !important;
}

.mce-container-body {
    display: block;
    background: #1f2331 !important;
}

.mce-container {
    position: relative;
    height: 60px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #1f2331;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 11px 13px;
}

.mce-btn button {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #1f2331;
}

.mce-menubtn button {
    width: 100%;
}

.mce-tinymce {
    border-color: #1f2331;
}

/*#mceu_14-body {*/
.mce-toolbar-grp .mce-container-body {
    background: #3b3f52 !important;
    padding: 10px 0px;
    border: 1px solid #202332;
}

.mce-toolbar-grp .mce-stack-layout {
    padding: 0;
}

.mce-toolbar .mce-btn-group {
    margin-left: 15px !important;
    margin-right: 10px !important;
}

.mce-btn {
    border: 1px solid #3b3f52 !important;
    border-color: #3b3f52 !important;
    text-shadow: none !important;
    background: none !important;
}

.mce-content-body {
    background-color: #1f2333 !important;
}

.mce-btn-group:not(:first-child) {
    border-left: 0 !important;
}

.mce-panel {
    border: 0 !important;;
}

.mce-menubar {
    border: 0 !important;
}

#mceu_22 {
    display: none !important;
}

#tinymce {
    background-color: #000 !important;
}

.mce-btn-group .mce-btn {
    margin-right: 2px !important;
}

.mce-first .mce-txt, .mce-last .mce-txt {
    position: relative;
    font-size: 18px !important;
    padding-top: 23px;
    width: 100% !important;
    color: #fff !important;
}

.mce-first .mce-txt::before {
    content: 'Font family';
    position: absolute;
    top: 0;
    font-size: 14px;
    color: #797979;
}

.mce-last .mce-txt::before {
    content: 'Font size';
    position: absolute;
    top: 0;
    font-size: 14px;
    color: #797979;
}

.mce-widget .mce-caret {
    border-top: 8px solid #898d9e;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.error-text {
    color: #b42a2a;
    font-size: 14px;
}

.error {
    border: 1px solid #b42a2a;
}

.ui-btn.loading {
    font-size: 0;
    position: relative;
    vertical-align: top;
}

.ui-btn.loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/loader.gif') center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.gallery-img-thumb img {
    height: auto;
    width: 100%;
    vertical-align: middle;
}

.vertical-tabs__column {
    height: 100%;
    overflow: hidden;
}

.vertical-tab__wrapper {
    height: 100%;
    overflow-y: scroll;
    width: calc(100% + 8px);
}

.vertical-tab__link a {
    width: 100%;
}

.account-info-block .account-info-list {
    height: calc(100% - 40px);
}

.account-info-block .account-info-list textarea.input-field {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.gallery-item__block_img img, .accordion-list__item_image img {
    object-fit: cover;
    object-position: center;
}

.catalog-tools-sidebar {
    width: 33%;
}

.catalog-tools-gallery-col {
    width: 67%;
}

@media screen and (max-width: 1280px) and (min-width: 992px) {
    .catalog-tools-sidebar {
        width: 387px;
    }
    .catalog-tools-gallery-col {
        width: calc(100% - 387px);
    }
}

.accordion-list__item_title{
    width: 100%;
    font-size: 16px;
}

.accordion-list__item_description {
    width: 100%;
    font-size: 14px;
    margin-top: 5px;
    color: #f1f1e3;
}

.tabs-horizontal-scroll{
    width: 100%;
    overflow: hidden;
    height: 40px;
    position: relative;
}

.tabs-horizontal-scroll .tabs-list{
    overflow-x: scroll;
    height: calc(100% + 8px);
    width: calc(100% + 8px);
}

.tabs-list-inner {
    display: flex;
}

@media screen and (max-width: 1760px) and (min-width: 1661px) {
    .tabs-horizontal-scroll {
        height: 38px;
    }
}

@media screen and (max-width: 1660px) and (min-width: 1281px) {
    .tabs-horizontal-scroll {
        height: 32px;
    }
}

.tabs-horizontal-scroll .control {
    display: block;
    position: absolute;
    top: 50%;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    padding: 3px;
    margin-top: -6px;
    background: none;
    outline: none;
    opacity: .7;
    transition: all .2s ease;
}

.tabs-horizontal-scroll .control::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    top: -11px;
    left: -11px;
    position: absolute;
}

.tabs-horizontal-scroll .control:hover {
    opacity: 1;
}

.tabs-horizontal-scroll .control:disabled {
    opacity: .2;
}

.tabs-horizontal-scroll .control-next {
    right: 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.tabs-horizontal-scroll .control-prev {
    left: 10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.accordion-list__item_image img {
    height: 100%;
}

.gallery-item__block_description{
    font-size: 14px;
    color: #fff;
}

.vertical-tab__link a {
    text-decoration: none;
}

.vertical-tab__heading {
    padding: 10px;
}

.form-item-body label, .vertical-tab__heading span {
    color: #999db0;
    font-weight: 600;
    font-size: 17px;
}

.gallery-img-add a{
    height: 100%;
    min-height: 50px;
    padding: 0;
}

.gallery-img-thumb img {
    object-fit: cover;
    height: 50px;
}

.gallery-img-add, .gallery-img-thumb {
    margin-bottom: 10px;
}

.product-line-tab-title {
    text-transform: capitalize;
}

.btn.btn-v {
    text-decoration: none;
}

.profile-error {
    position: relative;
    top: 9px;
    color: #b42a2a;
    font-size: 14px;
}