.btn {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
}

.btn:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
}