* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 0;
}
/*.link {*/
/*text-transform: uppercase;*/
/*text-decoration: none;*/
/*}*/
/*.item {*/
/*display: inline-block;*/
/*padding: 15px;*/
/*}*/
body {
    padding: 50px 0;
    /*width: 900px;*/
    /*margin: auto;*/
}

.wrapper {
    max-width: 900px;
    margin: auto;
}
.item {
    display: inline-block;
    /*margin: 15px;*/
    text-transform: uppercase;
    /*text-align: center;*/
    /*margin: 0 121px;*/
}


.link {
    color: #626262;
    font-size: 19px;
    margin: 0 68.25px;
}

.link:hover {
    color: #3fa4ff;
}

.main {
    max-width: 900px;
    margin: 100px auto;
}

.nav {
    text-align: center;
}

.item-article {
    width: 420px;
    display: inline-block;
    margin-bottom: 100px;
}

.item-article:nth-of-type(2n+1) {
    margin-right: 60px;
}

.item-article:nth-last-of-type(-n+2) {
    margin-bottom: -100px;
}


/*.item-article:nth-last-child(2) {*/
    /*margin-bottom: -76px;*/
/*}*/

.mini-caption {
    text-transform: uppercase;
    font-size: 19px;
    margin: 28px 0;
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
}

.caption {
    font-size: 30px;
    color: #626262;
    margin-bottom: 34px;
    font-family: 'Playfair Display', serif;
}

.description {
    font-size: 19px;
    color: #626262;
    /*font-family: 'Playfair Display', serif;*/
}

.footer {
    /*margin-top: 50px;*/
    text-align: center;
}

.button {
    font-size: 26px;
    font-family: 'Playfair Display', serif;
    color: #626262;
    border: 1px solid #626262;
    padding: 22px 34px;
    background-color: transparent;
}

.button:hover {
    color: #3fa4ff;
    border: 1px solid #3fa4ff;

}