* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.wrapper {
    width: 1110px;
    margin: auto;
}

/*<---*header*--->*/
.logo {
    text-transform: uppercase;
    float: left;
    font-size: 40px;
}

.logo::first-letter{
    color: #1bbc9b;
    font-weight: bold;
}

.nav {
    float: right;
}

.nav-list {
    margin: auto;
}

.nav-item {
    list-style: none;
    float: left;
    margin: 12px 40px 0 0;
    /*padding-right: 40px;*/
    /*padding-top: 12px;*/
}
.nav-item:hover {
    color: #1bbc9b;
}
.nav-link {
    text-transform: uppercase;
    font-size: 19px;
}

.nav-list:last-of-type {
    margin-right: -40px;
}

.header {
    margin: 50px 0 105px 0;
}
/*<----*header*---->*/

/*<----*products*--->*/
.title {
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    color: #555252;
    margin-bottom: 92px;
}

.title:after {
    display: block;
    content: "";
    width: 164px;
    height: 7px;
    background-color: #1bbc9b;
    margin: auto;
}

.products {
    margin-bottom: 105px;
}

.body-products {
    margin: auto;
}

.post-product {
    width: 255px;
    display: inline-block;
    margin: 0 30px 30px 0;
}

.post-product:nth-of-type(4n+4) {
    margin-right: -30px;
}

.name-product {
    background-color: #323232;
    color: #ffffff;
    width: 200px;
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: -4px;
    float: left;
    padding: 5.75px 0 5.75px 5px;
}

.price {
    background-color: #8c8c8c;
    color: #ffffff;
    width: 55px;
    font-size: 24px;
    float: right;
    margin-top: -4px;
    padding: 5.75px 6.75px;
    text-align: center;
    /*font-family: 'Roboto', sans-serif;*/
}

.post-product:hover .name-product {
background-color: rgba(26, 188, 156, 0.8);
}
.post-product:hover .price {
background-color: rgba(26, 188, 156, 0.4);
}

.post-news {
    display: inline-block;
    width: 350px;
    margin: 0 25px 100px 0;
}

.post-news:last-child {
    margin-right: -25px;
}

.title-news {
    color: #323232;
    font-weight: bold;
}

.title-news:after {
    display: block;
    content: "";
    width: 100px;
    height: 3px;
    background-color: #1bbc9b;
    margin: 5px 0 15px 0;
}

.content-news {
    color: #323232;
}

.button-news {
    display: block;
    padding: 15px 30px;
    margin-top: 10px;
    background-color: #1bbc9b;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    border: 1px solid #1bbc9b;
    border-radius: 5%;
}

.button-news:hover {
    background-color: transparent;
    color: #1bbc9b;
}

/*.price {*/
    /*padding: 13px 0;*/
    /*!*margin-left: -5px;*!*/
    /*color: #ffffff;*/
    /*background-color: #8c8c8c;*/
    /*width: 15px;*/
    /*display: block;*/
/*}*/
/*.price::before {*/
    /*content: "\0024";*/
/*}*/
/*.name-product {*/
    /*text-transform: uppercase;*/
    /*text-align: left;*/
    /*padding: 13px 0;*/
    /*width: 200px;*/
    /*color: #ffffff;*/
    /*background-color: #323232;*/
    /*display: block;*/
/*}*/
/*.post-product:hover .name-product {*/
    /*background-color: rgba(26, 188, 156, 0.8);*/
/*}*/
/*.post-product:hover .price {*/
    /*background-color: rgba(26, 188, 156, 0.4);*/
/*}*/
/*.post-product {*/
    /*width: 255px;*/
    /*height: 322px;*/
    /*!*position: fixed;*!*/
    /*!*left: 15px;*!*/
    /*!*top: 15px;*!*/
/*}*/
/*.img-product {*/
    /*width: 255px;*/
    /*height: 282px;*/
    /*background-color: rgba(233,240,253,0.5);*/
/*}*/
/*.products {*/
    /*!*margin: 105px;*!*/
/*}*/